@use "@/styles/breakpoints" as *;

.page {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  margin-bottom: 24px;

  @include down($bp-md) {
    flex-direction: column;
    align-items: stretch;
  }

  h1 {
    margin: 0;
    font-size: 32px;
  }

  p {
    margin-top: 4px;
    color: #777;
  }
}

.select {
  min-width: 240px;

  @include down($bp-md) {
    width: 100%;
  }
}

.secondRow {
  margin-top: 24px;

  display: grid;
  grid-template-columns: 2fr 1fr;

  gap: 24px;

  @include down($bp-lg) {
    grid-template-columns: 1fr;
  }
}

.lineChartCol,
.donutChartCol {
  width: 100%;
}
