@use "@/styles/variables" as v;

.section {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1.25rem;
}

.grid {
    display: grid;
    gap: 1.5rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.featuresItem {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // text-align: center;
    gap: 1rem;

    h3 {
        font-size: 1.25rem;
        color: v.$color-text-main;
    }

    p {
        color: v.$color-text-muted;
    }
}