@use "@/styles/variables" as v;

.card {
    padding: 1.25rem;
    border-radius: v.$radius-md;
    border: 1px solid v.$color-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: 0.9rem;
    color: v.$color-text-muted;
}

.amount {
    font-size: 1.4rem;
    color: v.$color-text-main;
}