.blog {
    padding: 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: $color-warning;
}

.content {
    font-size: 1rem;
    line-height: 1.5;
}