.wrapper {
  width: 100%;
}

.card {
  border-radius: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;

  h3 {
    margin: 0;
  }
}

.chart {
  width: 100%;
  min-height: 450px;
}

.select {
  min-width: 180px;
}
